$colorNegroFondo: #02020B;
$colorBlanco: #EFF6EE;
$colorTransparente: #eff6ee00;
$colorBlancoTransparente: #eff6ee8c;
$colorBlancoTransparenteFondo: #eff6ee15;
$colorRojo: #C20114;
$colorRojoTransparente: #c201148f;
$fuente: 'Fira Code', monospace;